@import "../public/variables.scss";
@import "../public/mixins.scss";

#cosmeticItem{
  @include flex-center();
  flex-wrap: wrap;
  
  .youLikeList-item{
    width: 259px;
    height: 170px;
    background-color: #fff;
    margin: 10px 15px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    // @include flex-center(column);
    // box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

    .image{
      width: 100%;
      height: 125px;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .cosmetic-info{
      width: 100%;
      @include flex-center();

      .desc{
        width: 100%;
        height: 35px;
        @include flex-center(column);
      }

      .price{
        margin-right: 10px;
        color: #f00;
        font-size: 18px;
      }
    }
  }
}