@import "../public/variables.scss";
@import "../public/mixins.scss";

#postItem{
  @include flex-center();
  flex-wrap: wrap;

  .hotPostsList-item{
    width: 355px;
    height: 100px;
    margin: 10px 15px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: 2px;
    cursor: pointer;

    img{
      width: 120px;
      height: 80px;
    }

    div{
      max-width: 200px;
      margin: 0 5px 0 10px;
      font-size: 14px;
      white-space:wrap;
      overflow: hidden;
      text-overflow:ellipsis;
      box-sizing: border-box;
      padding: 2px;
      color: #606060;
    }
  }
}
