@import "../public/variables.scss";
@import "../public/mixins.scss";

#login{
  height:calc(100vh - 120px);

  .master{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, .3);
    z-index: 10000;
    @include flex-center(column);

    .loginbox{
      width: 500px;
      height: 350px;
      background-color: #fff;
      border-radius: 4px;
    }
  }
}