@import "../public/variables.scss";
@import "../public/mixins.scss";

#mine{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.mine-back{
		position: relative;
		width: 100%;
		height: 230px;
		@include flex-center(column);
		background-image: url('~@/assets/images/minebg.jpg');
    background-size: 100% 100%;

		.avatar{
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 1px solid #C5C5C5;

			img{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}

		.signature-edit{
			width: 100%;
			max-width: 500px;
			display: flex;
			margin-top: 20px;
			@include flex-center(column);
			
			.signature{
				margin-bottom: 10px;
			}
		}

		.upload{
			position: absolute;
			right: 30px;
			top: 20px;
		}
	}

	.nav-bar{
		width: 100%;
		height: 50px;
		@include flex-center();
		background-color: #fff;
		border-top: 1px solid #DDDDDD;
		border-bottom: 1px solid #DDDDDD;

		.nav-bar-ul{
			width: 100%;
			height: 100%;
			max-width: 1000px;
			@include flex-center();
			list-style: none;

			a{
				flex: 1;
				height: 100%;
				text-decoration: none;
				@include flex-center(column);
				margin: 0 20px;
			}
		}
	}

	.router-link-active {
    background-color: #FFCFCF;
    transition: background-color 1s;
    border-radius: 50px 0 50px 0;
  }

	.main{
		width: 100%;
		max-width: 1000px;
		min-height: 500px;
		background-color: #fff;
	}
}
  
  
