@import "../public/variables.scss";
@import "../public/mixins.scss";

#mine{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.mine-back{
		position: relative;
		width: 1200px;
		height: 230px;
    margin-top: 20px;
		@include flex-center(column);
		background-image: url('~@/assets/images/minebg.jpg');
    background-size: 100% 100%;

		.avatar{
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 1px solid #C5C5C5;

			img{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.nickname{
			font-size: 20px;
			margin: 10px 0;
		}

		.signature-edit{
			width: 100%;
			max-width: 500px;
			display: flex;
			@include flex-center(column);
			
			.signature{
				margin-bottom: 10px;
			}
		}

		.upload{
			position: absolute;
			right: 30px;
			top: 20px;
		}
	}

	.main{
		position: relative;
		width: 100%;
		max-width: 1200px;
		display: flex;
		margin-top: 20px;

		.nav-bar{
			width: 230px;
			min-width: 230px;
			height: 500px;
			background-color: #fff;
			border: 1px solid #E1E1E1;

			ul{
				width: 100%;
				height: 160px;
				box-sizing: border-box;
				margin-top: 15px;
				padding: 0 20px;
				list-style: none;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				align-items: center;

				a{
					width: 70%;
					text-decoration: none;
					color: #000;
					height: 40px;
					border-top: 1px solid #DBDBDB;
					border-bottom: 1px solid #DBDBDB;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 10px;
					// border-radius: 40px 0 40px 0;

					li{
						font-size: 17px;
					}
				}
				a:hover{
					border-top: 1px solid #ff9797;
					border-bottom: 1px solid #ff9797;
					cursor: pointer;
				}

				.router-link-active {
					color: #fff;
					border-top: 1px solid #ff9797;
					border-bottom: 1px solid #ff9797;
					background-color: #ff9797;
					transition: background-color 1s, color 1s;
				}
			}
		}

		.mine-body{
			flex-grow: 1;
			background-color: #fff;
			margin-left: 30px;
			box-sizing: border-box;
			padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #E1E1E1;
		}
	}
}
  
  
