@import "../public/variables.scss";
@import "../public/mixins.scss";

#detail{
  box-sizing: border-box;
  @include flex-center();
  flex-wrap: wrap;

  .title{
    width: 100%;
    font-size: 20px;
    text-shadow: 1px 1px 3px #323232;
    margin-bottom: 30px;
  }

  .el-tabs__nav-wrap{
    @include flex-center();
    margin-top: -40px;

    #tab-post,
    #tab-commodity{
      font-size: 18px;
      line-height:35px;
    }
  }

  li{
    list-style: none;
  }

  .myProfile-box{
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 4px;

    .myProfile-main{
      width: 100%;
      box-sizing: border-box;
      padding: 0 40px 20px;
      @include flex-center();
      
      .myProfile-main-ul{
        list-style: none;

        li{
          display: flex;
          align-items: center;
          margin-top: 15px;
          padding: 10px 0;

          .item-name{
            width: 100px;
          }

          .item-body{
            width: 500px;
          }
        }
      }
    }
    .submit{
      width: 100%;
      @include flex-center();
    }
  }
}