@import "../public/variables.scss";
@import "../public/mixins.scss";

#community{
  @include flex-center();

  .container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    // background-color: #FFE5E5;
    display: flex;

    .main{
      width: 700px;
      // background-color: #B6FFDC;
      display: flex;
      flex-direction: column;
      align-items: center;

      .nav{
        width: 70%;
        height: 40px;
        box-sizing: border-box;
        margin: 20px 0;
        @include flex-center();
        list-style: none;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

        li{
          flex: 1;
          @include flex-center(column);

          .el-dropdown-link {
            cursor: pointer;
            font-size: 17px;
          }
          .el-icon-arrow-down {
            font-size: 14px;
          }
        }
      }

      .posts{
        width: 95%;
        list-style: none;

        // li{
        //   width: 100%;
        //   margin-bottom: 30px;
        //   list-style: none;
        //   background-color: #FFBFE1;
        // }
      }

    }

    .aside{
      margin-top: 78px;
      margin-left: 60px;
      width: 220px;
      height: 550px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0 10px;

      .youLike{
        flex: 1;
        width: 100%;
        background-color: #fff;
        // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
      }

      .recommend{
        flex: 1;
        width: 100%;
        margin-top: 20px;
        background-color: #fff;
        // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
      }
    }

  }
}