@import "../public/variables.scss";
@import "../public/mixins.scss";

#community{
  @include flex-center();
  div{
    font-family: "微软雅黑";
  }

  .container{
    position: relative;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    // padding: 0 20px;
    margin: 20px 0;
    display: flex;
    // border: 2px solid #000;

    .navs{
      width: 160px;
      height: 550px;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;
      background-color: #fff;
      position: fixed;
      border: 1px solid #E1E1E1;
      border-radius: 2px;
      background-image: url('~@/assets/images/nav-back.jpg');
      background-size: 100% 100%;
      font-weight: bold;
      font-size: 14px;

      .el-collapse{
        width: 100%;
      }

      .newPost,
      .hotPost,
      .teachList,
      .cusList,
      .cosList,
      .imgList,
      .videoList,
      .aboutMe{
        width: 100%;
        @include flex-center();
        cursor: pointer;
      }

      .newPost{
        margin-top: 28px;
      }
      .hotPost{
        margin-top: 30px;
      }
      .cusList{
        margin-top: 35px;
      }
      .teachList{
        margin-top: 37px;
      }
      .cosList{
        margin-top: 35px;
      }
      .imgList{
        margin-top: 43px;
      }
      .videoList{
        margin-top: 31px;
      }

      .aboutMe{
        margin-top: 78px;
      }

      .newPost:hover,
      .hotPost:hover,
      .teachList:hover,
      .cusList:hover,
      .cosList:hover,
      .imgList:hover,
      .videoList:hover,
      .aboutMe:hover{
        color: #ff9797;
        cursor: pointer;
      }

      .nav_active{
        color: #FF7777;
        font-size: 16px;
      }
    }

    .main{
      // margin-top: 20px;
      width: 700px;
      // background-color: #F3F3F3;
      min-height: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 177px;
      margin-right: 220px;

      .publish{
        position: relative;
        width: 100%;
        height: 50px;
        border-radius: 2px;
        margin-bottom: 20px;
        border: 1px solid #E1E1E1;
        background-color: #fff;
        @include flex-center();
        
        .publishDesc{
          @include flex-center(column);

          img{
            height: 45px;
          }
        }

        .publishBtn{
          position: absolute;
          right: 20px;
          flex: 1;
          @include flex-center();
        }
      }

      .posts{
        width: 95%;
        list-style: none;
      }

    }

    .aside{
      width: 200px;
      flex-direction: column;
      box-sizing: border-box;
      // border: 2px solid #000;
      position: fixed;
      margin-left: 890px;

      .youLike{
        width: 100%;
        margin-top: 20px;
        background-color: #fff;
        padding-bottom: 3px;
        border: 1px solid #E1E1E1;
        background-image: url('~@/assets/images/youlike.png');
        background-size: 100%;
        box-sizing: border-box;
        border-bottom: 4px solid #FFD4D4;
      }

      .recommend{
        width: 100%;
        background-color: #fff;
        padding-bottom: 3px;
        background-image: url('~@/assets/images/recomend.png');
        background-size: 100% 100%;
      }
    }

  }
}