@import "../public/variables.scss";
@import "../public/mixins.scss";

#styleMigration{
  @include flex-center();
  
  .container{
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin-top: 20px;

    .sectionA{
    
      .example{
        position: relative;
        width: 100%;
        height: 550px;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 20px 40px 30px;
        justify-content: space-between;
        background-image: url('~@/assets/images/shili.jpg');
        background-size: 100% 100%;
    
        .title{
          width: 100%;
          font-size: 20px;
          margin-bottom: 20px;
          text-align: center;
          line-height: 58px;
        }
    
        .pic1{
          position: absolute;
          top: 115px;
          left: 100px;
          width: 232px;
          height: 306px;
          border-radius: 2px;
    
          img{
            width: 100%;
            height: 100%;
          }
        }
    
        .pic2{
          position: absolute;
          top: 195px;
          left: 420px;
          width: 233px;
          height: 306px;
          border-radius: 2px;
    
          img{
            width: 100%;
            height: 100%;
          }
        }
    
        .pic3{
          position: absolute;
          top: 115px;
          right: 92px;
          width: 234px;
          height: 306px;
          border-radius: 2px;
    
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    
      // 自己的照片
      .myPicture{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 600px;
        margin: 20px 0;
        box-sizing: border-box;
        background-color: #fff;
        background-image: url('~@/assets/images/ronghe.png');
        background-size: 100% 100%;

        .title{
          width: 100%;
          height: 40px;
          font-size: 20px;
          margin-top: 30px;
          text-align: center;
          line-height: 40px;
        }
    
        .temp{
          margin-top: -25px;
          width: 100%;
          height: 450px;
          display: flex;
    
          .temp-left{
            // border: 2px solid #ff9797;
            width: 31%;
            @include flex-center(column);
            box-sizing: border-box;
    
            .tempSelect{
              width: 100%;
              box-sizing: border-box;
              padding: 0 10px;
    
              .head{
                line-height: 50px;
              }
    
              .images{
                height: 280px;
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
    
                li{
                  width: 103px;
                  margin: 5px 0;
                  height: 135px;
                  box-sizing: border-box;
                  list-style: none;
                  cursor: pointer;
    
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .li_active{
                  border: 4px solid #FF7D7D;
                }
              }
              .pagenation{
                height: 50px;
                @include flex-center(column);
              }
              .selectPictrue{
                @include flex-center();
    
                .tip{
                  margin-right: 30px;
                }
              }
            }
          }
          .temp-image{
            width: 40%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            box-sizing: border-box;
    
            .my-image, .obj-image{
              width: 215px;
              height: 280px;
              box-sizing: border-box;
              border: 1px solid #CDCDCD;
              border-radius: 2px;
              margin:30px 10px;
              padding: 10px;



              img{
                width: 100%;
                height: 100%;
              }
            }
    
            .submit{
              width: 100%;
              height: 40px;
              @include flex-center(column);
            }
          }
          .temp-right{
            // border: 2px solid #ff9797;
            width: 30%;
            @include flex-center(column);
            box-sizing: border-box;

            .head{
              width: 85%;
              margin-bottom: 10px;
              text-align: left;
            }
    
            .dragUpload{
              width: 300px;
    
              .el-upload-dragger{
                width: 300px;
    
                .el-upload__text{
                  text-align: center;
                }
              }
            }
          }
        }
      }
      /******************融合结果*******************/
      .result{
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 30px;
        margin-bottom: 20px;
        background-color: #fff;
        // background-image: url('~@/assets/images/result.png');
        // background-size: 100% 100%;

        .result-left{
          min-width: 450px;
          box-sizing: border-box;
          padding: 50px 0;
          text-align: center;

          .result-title{
            font-size: 20px;
            font-weight: bold;
            font-family: "幼圆";
            margin-bottom: 15px;
          }

          .result-image{
            width: 300px;
            height: 400px;
            border: 1px solid #A1A1A1;
            box-sizing: border-box;
            padding: 10px;
            margin: 0 auto;
            border-radius: 4px;
            border: 5px solid #FFB2B2;

            .el-image{
              width: 100%;
              height: 100%;
            }
          }

          .cosrecommend{
            width: 350px;
            box-sizing: border-box;
            padding: 25px;
            margin: 50px auto;

            .tip{
              width: 100%;
              height: 35px;
              text-align: left;
              font-size: 18px;
              font-weight: bold;
              font-family: "幼圆";
              margin-bottom: 10px;
            }

            ul{
              margin: 0 auto;
              width: 220px;
              display: flex;
              list-style: none;
              flex-direction: column;

              li{
                width: 100%;
                height: 145px;
                border: 1px solid #BFBFBF;
                cursor: pointer;

                .image{
                  width: 100%;
                  height: 120px;

                  .el-image{
                    width: 100%;
                    height: 100%;
                  }
                }

                .title{
                  width: 100%;
                  height: 25px;
                  line-height: 25px;
                  font-size: 14px;
                }
              }
            }
          }
        }

        .result-right{
          flex-grow: 1;
          box-sizing: border-box;

          .title{
            @include flex-center();
            height: 100px;
            font-size: 23px;
            font-family: "幼圆";
            font-weight: bold;
          }

          .teaching{

            h4{
              width: 100%;
              margin: 15px 0;
            }
            p{
              width: 86%;
              margin: 15px 7%;
              color: #3C7CCE;
              font-size: 16px;
            }
            img{
              width: 24%;
              height: 200px;
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
  .return{
    position: absolute;
    left: 5%;
    top: 12%;
  }
}