@import "../../public/variables.scss";
@import "../../public/mixins.scss";

#productDetail{
  box-sizing: border-box;
  padding: 20px;
  display: flex;

  .detail{
    flex: 1;
    box-sizing: border-box;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 2px;
    list-style: none;
    margin-bottom: 20px;

    .postList-main{
      width: 100%;
      height: 200px;
      display: flex;

      .cosImage{
        flex: 1;

        img{
          width: 100%;
          height: 100%;
        }
      }
      .desc-operate{
        flex: 1;
        box-sizing: border-box;
        padding: 5px 40px;

        .prductTitle{
          box-sizing: border-box;
          font-size: 23px;
          margin-left: 5px;
        }
        .tags{
          margin: 8px 0 0;
          .el-tag{
            margin: 0 10px 0 5px;
          }
        }
        .produtcPrice{
          font-size: 30px;
          color: #FF8686;
          margin: 10px 0;
        }
        .productUrl{
          color: #2B3CB4;
          margin: 5px;
          font-size: 17px;
        }
      }
    }

    .desc-comment{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header{
        display: flex;
        margin-top: 20px;

        .productOperate{
          flex: 1;
          display: flex;
          justify-content: flex-end;

          .operate{
            height: 30px;
            box-sizing: border-box;
            display: flex;

            .like,
            .collection,
            .forward{
              box-sizing: border-box;
              width: 80px;
              height: 100%;
              @include flex-center();
              cursor: pointer;

              img{
                width: 30px;
                height: 30px;
                margin-right: 3px;
              }

              div{
                font-size: 13px;
              }
            }
            .like:hover,
            .collection:hover,
            .forward:hover{
              color: red;
            }
          }
        }

        .changeBar{
          flex: 1;
          height: 35px;
          // margin-top: 20px;
          display: flex;
          justify-content: flex-start;

          div{
            width: 50px;
            height: 35px;
            box-sizing: border-box;
            @include flex-center(column);
          }
          .changeBar-desc{
            border-bottom: 3px solid #fff;
            // border-bottom: 5px solid #ff9797;
          }
          .changeBar-comment{
            // border-bottom: 5px solid #fff;
            border-bottom: 3px solid #ff9797;
          }
        }
      }

      .desc{
        width: 100%;
        box-sizing: border-box;
        // border: 1.5px solid #ff9797;
        border-radius: 4px;
        padding: 15px;
        margin-top: 10px;
      }

      .comments{
        width: 100%;
        box-sizing: border-box;
        // border: 1.5px solid #ff9797;
        border-radius: 4px;
        padding: 10px;
        margin-top: 10px;

        .commentList{
          margin: 8px 0 0 0;
          font-size: 14px;
          line-height: 20px;
          cursor: pointer;
          .obj{
            span{
              color: #DE505E;
            }
            .reply{
              color: #000;
            }
          }
        }

        .commentList:hover{
          background-color: #FFECEC;
        }

        .tocomment{
          display: flex;
          margin-bottom: 15px;
          align-items: center;

          .el-button{
            margin-left: 15px;
          }
        }
      }
    }
  }

  // 侧边推荐栏
  
  .recommend{
    width: 250px;
    margin-left: 30px;
  }

  .return{
    position: absolute;
    left: 5%;
    top: 12%;
  }
}